header {
    background: #FFFFFF;
    width: 100%;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}

.top-bar-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.top-bar-container .logo {
    margin-left: 2%;
    width: 10%;
    height: auto; /* Это позволяет сохранить пропорции изображения */
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
}

nav ul li a {
    color: #0A241A;
    text-decoration: none;
    text-transform: uppercase;
}

.header-list .list-item {
    margin: 0 20px;
    font-size: large;
    font-family: 'Lato', sans-serif;
}

#avatar {
    background-image: url('https://i.stack.imgur.com/Dj7eP.jpg');
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}
